body
{
    margin: 0px;
}
#my-vdo
{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
}
#nav-bar
{
    min-width: 10em;
    position: sticky; 
}
#logo
{
    width: 10em;
    margin-top:2em;
}
.position
{
    position: relative;
}
#site-body
{
    padding-top: 10em;  
}
.h2
{
    margin-left:4em;
}
#h1
{
    font-size: 4.5rem;
}